@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&subset=cyrillic');

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}
